<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>DIPLE | Admin</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).on('turbolinks:load', function() {
        // $('.file-upload.button').on('click', function() {
        //   var field = $(this).parentsUntil('.field.file', this);
        //   var file_input = field.find('input[type="file"]');
        //   var img = field.find('img');
        //   file_input.click().off('change').on('change', function() {
        //     var reader = new FileReader();
        //     reader.onload = function(e) {
        //       img[0].src = e.target.result;
        //     };
        //     reader.readAsDataURL(file_input[0].files[0]);
        //   });
        // });

        var err_vue = new Vue({
          data: { msgs: [] },
          watch: {
            msgs: function(msgs) {
              _.each(msgs, function(msg, index) {
  	            $('body').highlight('$' + msg + '$', { element: 'mark', className: 'bg-danger text-light' });
              });
              new Noty({
                type: 'error',
                text: '<div class="text-center pr-2"><i class="fa fa-exclamation-triangle"></i> 현재 페이지에 <b>' + msgs.length + '개</b>의 수식 에러가 있습니다</div>',
                layout: 'bottomRight',
                closeWith: ['click', 'button'],
                timeout: 5000,
                progressBar: true,
                animation: {
                  open: 'noty_effects_open',
                  close: 'noty_effects_close'
                }
              }).show();
            }
          }
        });

        renderMathInElement(document.body, {
          delimiters: [ { left: "$",  right: "$",  display: false } ],
          errorCallback: function(msg, err) {
            err_vue.msgs.push(msg.split('`')[1]);
            // console.error(err);
          }
        });
      });
    </script>
  </head>
  <body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <div class="container">
        <%= link_to 'OMRice', admin_root_path, style: 'position: relative', class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%== 'active' if controller_name == 'problems' && action_name == 'test' %>"><%= link_to '기출문제', test_admin_problems_path, class: 'nav-link' %></li>
            <li class="nav-item <%== 'active' if controller_name == 'problems' && action_name != 'test' %>"><%= link_to '문제관리', admin_problems_path, class: 'nav-link' %></li>
            <li class="nav-item <%== 'active' if controller_name == 'problem_collections' %>"><%= link_to '문제모음관리', admin_problem_collections_path, class: 'nav-link' %></li>
            <li class="nav-item <%== 'active' if controller_name == 'subjects' %>"><%= link_to '과목관리', admin_subjects_path, class: 'nav-link' %></li>
          </ul>
          <ul class="navbar-nav">
            <form class="form-inline my-2 my-lg-0">
              <problem-search-input></problem-search-input>
            </form>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to '로그아웃', destroy_user_session_path, class: 'nav-link', method: :delete %>
              <% else %>
                <%= link_to '로그인', new_user_session_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container-fluid pt-3 pb-5">
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <script type="text/javascript">
      Vue.component('problem-search-input', {
        template: '<input class="form-control mr-sm-2" type="search" placeholder="문제 바로가기 (ID입력)" aria-label="Search" v-model="keyword" @keydown.enter="search"/>',
        data: function() { return { keyword: '' } },
        methods: {
          search: function(e) {
            e.preventDefault();
            $.ajax({
              url: '/admin/problems/' + this.keyword,
              dataType: 'json',
              error: function() {
                alert('해당 ID가 없습니다');
                this.keyword = '';
              }.bind(this),
              success: function(data) {
                window.location.href="/admin/problems/" + data.id + '/edit';
              }
            });
          }
        }
      });
      new Vue({ el: '#nav' });
    </script>
  </body>
</html>
