<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>DIPLE | Admin</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="ui right vertical menu sidebar inverted">
    </nav>
    <div class="pusher">
      <header class="ui sticky top-header clearfix">
        <div class="ui container">
            <div class="ui secondary menu">
              <%= link_to admin_root_path, class: 'header item' do %>
                DIPLE <small>어드민</small>
              <% end %>
              <div class="right menu">
                <div class="item tablet mobile only">
                  <%= link_to '#', class: 'ui button red inverted icon', id: 'nav-menu-icon' do %>
                    <i class="icon content"></i>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </header>
      <%= semantic_breadcrumbs %>

      <main class="ui container center-main">
        <%= yield %>
      </main>

      <footer class="ui inverted vertical bottom-footer segment">
        <div class="ui center aligned container">
          <div class="ui stackable inverted divided grid">
            <div class="seven wide column">
              <h4 class="ui inverted header">Footer Header</h4>
              <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 1</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
                <a href="#" class="item">Link Three</a>
                <a href="#" class="item">Link Four</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 2</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
                <a href="#" class="item">Link Three</a>
                <a href="#" class="item">Link Four</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 3</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
                <a href="#" class="item">Link Three</a>
                <a href="#" class="item">Link Four</a>
              </div>
            </div>
          </div>
          <div class="ui inverted section divider"></div>
          <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
        </div>
      </footer>
    </div>

    <script>
      $(document).ready(function(){
        $('#nav-menu-icon').on('click', function(e) {
          e.preventDefault();
          $('.ui.sidebar').sidebar('toggle');
        });

        <% flash.each do |key, value| %>
          new Noty({
            type: '<%= flash_class key %>',
            text: '<%= value %>',
            timeout: 5000,
            progressBar: true,
            animation: {
              open: 'noty_effects_open',
              close: 'noty_effects_close'
            }
          }).show();
        <% end %>

        $('.file-upload.button').on('click', function() {
          var field = $(this).parentsUntil('.field.file', this);
          var file_input = field.find('input[type="file"]');
          var img = field.find('img');
          file_input.click().off('change').on('change', function() {
            var reader = new FileReader();
            reader.onload = function(e) {
              img[0].src = e.target.result;
            };
            reader.readAsDataURL(file_input[0].files[0]);
          });
        });
      });
    </script>
  </body>
</html>
