<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>DIPLE</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="ui right vertical menu sidebar inverted">
      <% if current_user %>
        <%= link_to '로그아웃', destroy_user_session_path, class: 'item', method: :delete %>
      <% else %>
        <%= link_to '로그인', new_user_session_path, class: 'item' %>
      <% end %>
    </nav>
    <div class="pusher">
      <header class="ui top-header clearfix">
        <div class="ui container">
            <div class="ui secondary menu">
              <%= link_to root_path, style: 'position: relative' do %>
                <img src="http://snacademy.co.kr/images/logo.png">
                <span style="position: absolute; bottom: 0; right: 0; font-weight: bold; color: crimson;">썸머캠프 재학생 전용</span>
              <% end %>
              <div class="right menu">
                <% if current_user %>
                  <%= link_to '로그아웃', destroy_user_session_path, class: 'item', method: :delete %>
                <% else %>
                  <%= link_to '로그인', new_user_session_path, class: 'item' %>
                <% end %>
                <div class="item mobile only">
                  <%= link_to '#', class: 'ui button red inverted icon', id: 'nav-menu-icon' do %>
                    <i class="icon content"></i>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </header>

      <main class="ui container center-main">
        <%= yield %>
      </main>
    </div>

    <script>
      $(function(){
        $('#nav-menu-icon').on('click', function(e) {
          e.preventDefault();
          $('.ui.sidebar').sidebar('toggle');
        });

        <% flash.each do |key, value| %>
          new Noty({
            type: '<%= flash_class key %>',
            text: '<%= value %>',
            layout: 'bottomRight',
            theme: 'semanticui',
            timeout: 5000,
            progressBar: true,
            closeWith: ['click', 'button'],
            animation: {
              open: 'noty_effects_open',
              close: 'noty_effects_close'
            }
          }).show();
        <% end %>
      });
    </script>
  </body>
</html>
